custom-cart-drawer {
    --drawer-width: 20vw;
    --closed-position: calc(-1 * var(--drawer-width));

    position: fixed;
    top: 0;
    right: var(--closed-position);
    background-color: white;
    height: 100vh;
    width: var(--drawer-width);
    padding: 12.5px;
    z-index: 999; /* NB: A hacky way to ensure the cart drawer is always painted on top. */
}

@keyframes slide-in {
    from {
        right: 0;
    }

    to {
        right: var(--closed-position);
    }
}

custom-cart-drawer.--closed,
custom-cart-drawer.--initial-closed {
    right: var(--closed-position);
}

custom-cart-drawer.--closed {
    animation: 0.25s ease-in 0s slide-in;
}

@keyframes slide-out {
    from {
        right: var(--closed-position);
    }

    to {
        right: 0;
    }
}

custom-cart-drawer.--opened {
    right: 0;
    animation: 0.25s ease-in 0s slide-out;
}

.cart-drawer__close-button {
    position: absolute;
    top: 10px;
    right: 20px;
}

.cart-drawer__close-button:hover {
    cursor: pointer;
}

.cart-drawer__cart-header h1 {
    margin-top: 5px;
}

.cart-drawer__cart-header h1 {
    font-size: 4em;
}

.cart-drawer__cart-body {
    margin: 25px 0px;
}

.cart-drawer__cart-footer {
    display: flex; 
    justify-content: center;
}

.cart-drawer__checkout-button {
    display: block;
    text-decoration: none;
    width: 50%;
    background-color: black;
    color: white;
    text-align: center;
    border-radius: 5%;
    font-size: 1.25em;
}