custom-cart-drawer {
    --drawer-width: 20vw;

    position: fixed;
    top: 0;
    background-color: white;
    height: 100vh;
    width: var(--drawer-width);
    padding: 12.5px;
    z-index: 999; /* NB: A hacky way to ensure the cart drawer is always painted on top. */
}

@keyframes slide-in {

}

custom-cart-drawer.--closed {
    right: calc(-1 * var(--drawer-width));
}

custom-cart-drawer.--opened {
    right: 0;
}

custom-cart-drawer:hover {
    cursor: pointer;
}